* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.1rem;
    font-weight: 300;
}

.welcome {
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.welcome-paragraph {
    font-size: 1.3rem;
    display:flex;
    justify-content: center;
    margin-bottom: 2rem;
    text-decoration:underline;
}

.stepByStep {
 
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2rem;
    
}

.steps {
    display:grid;
    grid-template-columns: repeat(3, minmax(33, 1fr));
    gap: 20px;
    margin-left: 4%;
    margin-right: 4%; 
    
}

.step-item {
    padding: 20px;
    background-color: #eee;
    list-style: none;

}

.step-title {
    font-size: 2.2rem;
    padding-bottom: 15px;
    border-bottom: 3px double black;
}

.step-detail {
    padding-top: 20px;
}

.step-detail2 {
    padding-top: 10px;
    font-weight: 600;
}

.structure {
    padding-left: 3rem;
    padding-bottom: 1.4rem;
}